.container-add-habit {
    width: 70%;
    margin: 1rem;
    border: 1px solid #F7AF47;
    border-radius: .05rem;
    .addHabit-header{
        border-bottom: .1rem solid #F7AF47;
        height: 3rem;
        padding-top: 1%;
        padding-bottom: 4%;
        .close-btn{
            color: #F7AF47;
            font-size: 2rem;
        }
    }
    img {
        width: 70%;
        align-self: center;
        margin: 1.1rem 1rem;
    }
    .title-addHabit {
        font-weight: bold;
        color: #F7AF47;
        font-size: 1.5rem;
        margin-right: 2rem;
    }
    .custom-btn {
        background-color:white;
        border: #F7AF47;
        border-style: solid;
        border-width: 1px;
        color: #F7AF47;
        width: 100%;
        height: 30pt;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
    }
}