.admin-text-titles{
    border-bottom: .1rem solid #F7AF47;
    height: 3rem;
    padding-top: 1%;
    padding-bottom: 4%;
    font-weight: bold;
    color: #F7AF47;
    font-size: 1.5rem;
    margin-right: 2rem;
}
.admin-text-numbers{
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    color: #F7AF47;
    font-size: 5rem;
    margin-right: 2rem;
    text-align: center;
}
.admin-text-subtitles{
    height: 3rem;
    padding-top: 1%;
    padding-bottom: 4%;
    font-weight: bold;
    color: #F7AF47;
    font-size: 1.3rem;
    margin-right: 2rem;
}